<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Datetime</th>
        <th>Temperature</th>
        <th>Duration</th>
    </tr>
    </thead>
    <tbody>
        {% for row in data %}
            <tr>
                <td>{{- row.id}}</td>
                <td>{{- row.time_stamp}}</td>
                <td>{{- row.temperature}}</td>
                <td>{{- row.duration}}</td>
            </tr>
        {%- endfor %}      
    </tbody>
</table>
</body>
</html>